# Caminho do arquivo DuckDB (dentro do container ou local)
DUCKDB_PATH=./data/warehouse.duckdb

# URL da API do Prefect (usado quando rodando via docker-compose)
PREFECT_API_URL=http://localhost:4200/api
